.container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.stars,
.stars1,
.stars2,
.shooting-stars {
  position: absolute;
  z-index: 10;
  background: transparent;
  top: -800px;
}

.stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow:
    718px 1689px #fff,
    1405px 2127px #fff,
    1270px 1148px #fff,
    620px 641px #fff,
    1538px 708px #fff,
    2169px 1632px #fff,
    523px 1494px #fff,
    1081px 2018px #fff,
    1372px 585px #fff,
    974px 576px #fff,
    448px 1231px #fff,
    78px 2055px #fff,
    1180px 1274px #fff,
    1752px 2099px #fff,
    1392px 488px #fff,
    1836px 2303px #fff,
    1309px 816px #fff,
    922px 962px #fff,
    1165px 2485px #fff,
    2054px 176px #fff,
    1425px 747px #fff,
    2253px 2056px #fff,
    1602px 114px #fff,
    433px 1332px #fff,
    65px 1726px #fff,
    257px 334px #fff,
    1512px 1855px #fff,
    775px 2422px #fff,
    2512px 2123px #fff,
    76px 2235px #fff,
    1979px 501px #fff,
    352px 1222px #fff,
    554px 1215px #fff,
    1200px 2163px #fff,
    2078px 1983px #fff,
    2461px 557px #fff,
    1960px 2055px #fff,
    1966px 316px #fff,
    1123px 1402px #fff,
    1461px 2288px #fff,
    1625px 2076px #fff,
    822px 609px #fff,
    531px 1358px #fff,
    900px 1938px #fff,
    1867px 1362px #fff,
    1049px 372px #fff,
    319px 980px #fff,
    2321px 2421px #fff,
    1701px 1425px #fff,
    1827px 1324px #fff,
    126px 1121px #fff,
    527px 1735px #fff;
  animation: animStar 100s linear infinite;
}

.stars1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow:
    452px 2369px #fff,
    2030px 2013px #fff,
    113px 1775px #fff,
    426px 2228px #fff,
    735px 2395px #fff,
    483px 147px #fff,
    1123px 1666px #fff,
    1944px 113px #fff,
    1096px 372px #fff,
    2005px 118px #fff,
    1948px 2320px #fff,
    2095px 823px #fff,
    742px 1559px #fff,
    1637px 383px #fff,
    877px 992px #fff,
    141px 1522px #fff,
    483px 941px #fff,
    2028px 761px #fff,
    1164px 2482px #fff,
    692px 1202px #fff,
    1008px 62px #fff,
    1820px 2535px #fff,
    1459px 2067px #fff,
    519px 1297px #fff,
    1620px 252px #fff,
    1014px 1855px #fff,
    679px 135px #fff,
    1927px 2544px #fff,
    836px 1433px #fff,
    286px 21px #fff,
    1131px 769px #fff,
    1717px 1031px #fff,
    2121px 517px #fff,
    1865px 1257px #fff,
    1640px 1712px #fff,
    158px 162px #fff,
    2491px 1514px #fff,
    784px 1446px #fff,
    1547px 968px #fff,
    1966px 1461px #fff,
    923px 1883px #fff,
    601px 81px #fff,
    1486px 598px #fff,
    1947px 1462px #fff,
    2161px 1181px #fff,
    773px 675px #fff,
    2023px 455px #fff,
    1199px 1199px #fff,
    94px 1814px #fff,
    1055px 852px #fff,
    583px 631px #fff,
    150px 1931px #fff,
    1472px 597px #fff,
    611px 1338px #fff,
    54px 859px #fff,
    1266px 1019px #fff,
    1028px 256px #fff,
    1442px 964px #fff,
    436px 1325px #fff,
    2446px 1141px #fff,
    723px 70px #fff,
    825px 964px #fff,
    63px 271px #fff,
    647px 849px #fff,
    309px 673px #fff,
    1965px 2090px #fff,
    1672px 9px #fff,
    450px 2504px #fff,
    1675px 2135px #fff,
    2075px 921px #fff,
    1607px 2348px #fff,
    2243px 1494px #fff;
  animation: animStar 125s linear infinite;
}

.stars2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow:
    380px 1043px #fff,
    10px 1086px #fff,
    660px 1062px #fff,
    1371px 842px #fff,
    1290px 2153px #fff,
    2258px 231px #fff,
    2130px 2217px #fff,
    1084px 758px #fff,
    1464px 1903px #fff,
    621px 2482px #fff,
    2470px 754px #fff,
    1282px 1797px #fff,
    510px 1678px #fff,
    836px 799px #fff,
    2001px 134px #fff,
    2314px 1869px #fff,
    1031px 643px #fff,
    949px 292px #fff,
    16px 2265px #fff,
    465px 1239px #fff,
    2117px 1952px #fff,
    1683px 605px #fff,
    1818px 1945px #fff,
    890px 1749px #fff,
    324px 110px #fff,
    1048px 1442px #fff,
    2399px 1553px #fff,
    157px 551px #fff,
    666px 314px #fff,
    897px 933px #fff,
    2397px 438px #fff,
    1280px 988px #fff,
    1510px 2373px #fff,
    2453px 1645px #fff,
    831px 994px #fff,
    2125px 338px #fff,
    1571px 2128px #fff,
    1792px 53px #fff,
    820px 2480px #fff,
    529px 1544px #fff,
    1941px 928px #fff,
    1632px 795px #fff,
    152px 993px #fff,
    1040px 260px #fff,
    1131px 589px #fff,
    2395px 1336px #fff,
    1537px 1906px #fff,
    1989px 1910px #fff,
    1489px 1098px #fff,
    996px 1585px #fff,
    476px 69px #fff,
    123px 466px #fff,
    374px 414px #fff,
    741px 1097px #fff,
    1415px 1296px #fff,
    945px 1132px #fff,
    909px 2080px #fff,
    2219px 8px #fff,
    2198px 1039px #fff,
    1794px 1513px #fff,
    1484px 1972px #fff,
    1557px 2099px #fff,
    1385px 912px #fff,
    1612px 1474px #fff,
    169px 1963px #fff;
  animation: animStar 175s linear infinite;
}

.shooting-stars {
  width: 5px;
  height: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  animation: animShootingStar 10s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px) translateX(-2560px);
  }
}

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-2560px) translateX(-2560px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}
